:root {
    --color-primario: #B0C4B1; 
    --color-secundario: #EDAFB8;  
    --color-fondo: #f0e6ef;  
    --color-texto: #240046;  
  }
  
  body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
  }
  
  .btn {
    background-color: var(--color-secundario);
    color: var(--color-secundario);
  }
  
  